jobscript*
pout.*
slurm_submit
.bashrc
*.pbs
*.s
*.bolt
*.e*
*.o*
*.btr
machine.file.*
jobscript*
core
d
o
p
f
*gz
*env
*_F.H
.DS_Store
log*
*.ex
.*.sw[n-p]
*.out
*.hdf5
*.dSYM
LB.txt
Weyl_integral*
*ExtractionOut_*
time.table.*
*.patch
*.log
ipo_out.optrpt

Doxygen/html
